/* ===========================================
   FONTS
   =========================================== */
@font-face{
    font-family:"skodapro";
    src:url("/local/templates/skoda_dws/fonts/skodanext_regular.eot?#iefix");
    src:url("/local/templates/skoda_dws/fonts/skodanext_regular.eot?#iefix") format("eot"),url("/local/templates/skoda_dws/fonts/skodanext_regular.woff2") format("woff2"),url("/local/templates/skoda_dws/fonts/skodanext_regular.woff") format("woff"),url("/local/templates/skoda_dws/fonts/skodanext_regular.ttf") format("truetype"),url("/local/templates/skoda_dws/fonts/skodanext_regular.svg#skodanext_regular") format("svg");
    font-style:normal;
    font-weight:normal
}
@font-face{
    font-family:"skodapro";
    src:url("/local/templates/skoda_dws/fonts/skodanext_bold.woff2/skodanext_bold.eot?#iefix");
    src:url("/local/templates/skoda_dws/fonts/skodanext_bold.eot?#iefix") format("eot"),url("/local/templates/skoda_dws/fonts/skodanext_bold.woff2") format("woff2"),url("/local/templates/skoda_dws/fonts/skodanext_bold.woff") format("woff"),url("/local/templates/skoda_dws/fonts/skodanext_bold.ttf") format("truetype"),url("/local/templates/skoda_dws/fonts/skodanext_bold.svg#skodanext_bold") format("svg");
    font-style:normal;
    font-weight:bold
}
@font-face{
    font-family:"skodapro_bold";
    src:url("/local/templates/skoda_dws/fonts/skodanext_bold.woff2/skodanext_bold.eot?#iefix");
    src:url("/local/templates/skoda_dws/fonts/skodanext_bold.eot?#iefix") format("eot"),url("/local/templates/skoda_dws/fonts/skodanext_bold.woff2") format("woff2"),url("/local/templates/skoda_dws/fonts/skodanext_bold.woff") format("woff"),url("/local/templates/skoda_dws/fonts/skodanext_bold.ttf") format("truetype"),url("/local/templates/skoda_dws/fonts/skodanext_bold.svg#skodanext_bold") format("svg");
    font-style:normal;
    font-weight:bold
}
