.no-p-m {
	padding: 0;
	margin: 0;
}
.no-p {
	padding: 0;
}
.no-m {
	margin: 0;
}
.clear {
	clear: both;
}



.logo-row {
	padding-top: 20px;
	padding-bottom: 15px;
	border-bottom: 1px black solid;
}

.menu-row {
	padding-top: 20px;
	padding-bottom: 15px;
	color: black;
	font-weight: normal;
    font-family:'skodapro', sans-serif;
}
.menu-row a, .menu-row a:visited {
	color: black;
	text-decoration: none;
}
.menu-row a:hover, .menu-row a:focus, .menu-row a:active, .menu-row a:visited {
	text-decoration: underline;
}

.top {
	padding-top: 10px;
	padding-bottom: 10px;
	background: white;
	border-top: #4fa640 15px solid;
}
.top p, .map p {
	font-weight: normal;
    font-family:'skodapro', sans-serif;
	margin-bottom: 0;
}
.top p.title, .map p.title {
	font-weight: bold;
    font-family:'skodapro', sans-serif;
}
.top svg {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -15px;
	margin-left: 15px;
	width: 30px;
	height: 30px;
	fill: #8f8f8f;
}
.top .address, .top .phones {
	padding-left: 48px;
}

.top a, .top a:hover, .top a:focus, .top a:active, .top a:visited {
	color: black;
	text-decoration: none;
	font-weight: bold;
    font-family:'skodapro', sans-serif;
}





.banner {
	height: 640px;
	background: url(../images/Banner_1920x640.jpg) top center no-repeat;
}

.banner .container {
	position: relative;
}

.banner .banner-button {
	position: absolute;
	bottom: 40px;
	width: 100%;
}
.banner .banner-button .col-md-4:first-child {
	text-align: right;
}

.banner .banner-button svg.ArrowBanner {
	fill: #4fa640;
}
.banner .banner-button svg.ArrowBanner:first-child {
	width: 56px;
	height: 56px;
	margin-right: 15px;
}
.banner .banner-button svg.ArrowBanner:last-child {
	width: 53px;
	height: 53px;
	margin-left: 15px;
}
.banner .banner-button a {
	background: #4fa640;
	display: block;
	padding: 20px;
	color: white;
	text-decoration: none;
	font-weight: bold;
    font-family:'skodapro', sans-serif;
	transition: .3s;
}
.banner .banner-button a:hover {
	background: #3f8833;
	transition: .3s;
}

.advantages, .specials {
	padding-top: 60px;
	padding-bottom: 60px;
}
.advantages h2 {
	font-size: 36px;
	font-weight: normal;
    font-family:'skodapro', sans-serif;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.advantages svg {
	width:90px;
	height: 90px;
	fill: #4fa640;
}
.advantages p {
	text-transform: uppercase;
	font-weight: normal;
    font-family:'skodapro', sans-serif;
}
.advantages a {
	color: black;
}
.advantages a:hover {
	text-decoration: none;
}

.specials {
	background: #ebebeb;
}
.specials h1 {
	font-size: 54px;
	font-weight: bold;
    font-family:'skodapro', sans-serif;
}
.specials h2 {
	font-size: 36px;
	font-weight: bold;
    font-family:'skodapro', sans-serif;
	padding-bottom: 60px;
	border-bottom: 2px solid #c8c8c8;
}


.car {
	padding-bottom: 60px;
	padding-top: 60px;
}
.car:nth-child(odd) {
	background: #ebebeb;
}
.car h2 {
	text-transform: uppercase;
	font-weight: normal;
    font-family:'skodapro', sans-serif;
	font-size: 40px;
	color: #000;
}
.car h3 {
	font-weight: bold;
    font-family:'skodapro', sans-serif;
	color: #000;
	margin-left: -15px;
	margin-right: -15px;
	height: 80px;
	background: url(../images/arrow.png) top center no-repeat;
	margin-bottom: 30px;
	padding-left: 25px;
	padding-top: 25px;
}
.car img {
	margin-top: -80px;
}
.icons {
	display: inline-block;
	width: 550px;
}
.tth {
	display: inline-block;
	height: 70px;
	margin-right: 10px;
	float: left;
}
.tth .icon {
	float:left;
}
.tth .icon svg {
	width: 45px;
	height: 45px;
	fill: black;
}
.tth .text ul {
	padding: 0;
	margin: 0 0 0 10px;
	font-size: 12px;
	line-height: 1em;
	list-style: none;
	text-align: left;
	width: 120px;
	margin-left: 10px;
	height: 50px;
    vertical-align: middle;
    display: table-cell;
}

.car .buttons {
	position: relative;
}

.car .buttons a {
	padding: 10px;
	display: block;
	text-align: center;
	border: 1px #8f8f8f solid;
	margin-bottom: 10px;
	font-weight: normal;
    font-family:'skodapro', sans-serif;
	color: black;
	transition: .3s;
	background: white;
}
.car .buttons a:hover{
	text-decoration: none;
	transition: .3s;
	color: #4fa640;
	border: 1px #4fa640 solid;
}

.car .buttons a:last-child {
	position: absolute;
	bottom: 20px;
	width: 350px;
	background: #4fa640;
	color: #fff;
	border: 1px #4fa640 solid;
	transition: .3s;
}

.car .buttons a:last-child:hover {
	background: #3f8833;
	border: 1px #3f8833 solid;
	transition: .3s;
}


.fork {
	background: url(../images/S_Banner_1920x640.jpg) top center no-repeat;
	color: white;
	height: 640px;
	margin-top: -230px;
}
.fork .title {
	font-size: 40px;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 280px;
	font-weight: bold;
    font-family:'skodapro', sans-serif;
}
.fork .title span {
	font-weight: normal;
	font-size: 28px;
}
.fork a {
	background: #4fa640;
	display: block;
	padding: 10px;
	color: white;
	text-decoration: none;
	font-weight: bold;
    font-family:'skodapro', sans-serif;
	transition: .3s;
	margin-top: 30px;
}
.fork a:hover {
	background: #3f8833;
	transition: .3s;
}



a.bluebutton {
	padding: 10px;
	text-align: center;
	display: block;
	background: #2ca3e1;
	color: #fff;
	border: 2px #2ca3e1 solid;
	border-radius: 5px;
	font-size: 18px;
	transition: .3s;
}
a.bluebutton:hover {
	text-decoration: none;
	transition: .3s;
	background: none;
	color: #fff;
	border: 2px #fff solid;
}
a.whitebutton {
	padding: 10px;
	text-align: center;
	display: block;
	background: none;
	color: #fff;
	border: 2px #fff solid;
	border-radius: 5px;
	font-size: 18px;
	transition: .3s;
}
a.whitebutton:hover {
	text-decoration: none;
	transition: .3s;
	background: #2ca3e1;
	color: #fff;
	border: 2px #2ca3e1 solid;
}
.fork svg {
	fill: white;
	width: 75px;
	height: 75px;
	margin-top: -20px;
}


.futures {
	padding-top: 80px;
	padding-bottom: 40px;
}
.futures h4 {
	margin-bottom: 40px;
}
.futures svg {
	fill: #2ca3e1;
	width: 90px;
	height: 90px;
}

.map {
	color: black;
	position: relative;
}
.map h6 {
	margin-bottom: 30px;
}
.map svg {
	fill: #4fa640;
	width: 126px;
	height: 24px;
}
.map .col-md-2 {
	background: white;
	padding: 30px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: 40px;
}
.map .contact {
	position: relative;
	padding-left: 40px;
	margin-bottom: 10px;
	font-weight: normal;
    font-family:'skodapro', sans-serif;
}
.map .contact svg {
	fill: #4fa640;
	width: 24px;
	height: 24px;
	position: absolute;
	left: 0;
}
.map .contact a, .map .contact a:focus, .map .contact a:active, .map .contact a:visited {
	color: #4fa640;
}


.footer {
	font-size: 12px;
	margin-bottom: 40px;
	margin-top: 40px;
}
.footer a {
	color: #4fa640;
	text-decoration: none;
}
.footer .col-md-6:last-child {
	text-align: right;
}
.footer .colapse {
	display: none;
}
.footer .lead svg {
	fill: #4fa640;
	width: 36px;
	height: 36px;
}
.footer .lead a svg {
	transition: .3s;
}
.footer .lead a.active svg  {
	transform: rotate(900deg);
	transition: .3s;
}




.form-control:focus {
  color: #4a5c65;
  background-color: #fff;
  border-color: #4fa640;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(79, 166, 64, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(79, 166, 64, 0.25);
}
.btn-primary {
  background-color: #2ca3e1;
  border-color: #2ca3e1;
}
.alert {
	display: none;
	margin-top: 30px
}



.remodal-close, .remodal-close:before {
    left: unset;
    right: 0;
}
.remodal-overlay {
    background: rgba(0,0,0,.9);
}

.remodal h3 {
	text-transform: uppercase;
	font-weight: normal;
    font-family:'skodapro', sans-serif;
	color: black;
	font-size: 24px;
}

.remodal legend {
	text-transform: uppercase;
	font-weight: normal;
    font-family:'skodapro', sans-serif;
	color: black;
	font-size: 24px;
}

.remodal p {
	font-size: 12px;
	color: #4a5c65;
}
.remodal a {
	color: #4fa640;
}


@media (max-width:1024px) {
.banner {
	height: 743px;
	background: url(../images/Banner_1024x768.jpg) top center no-repeat;
}
.car .buttons a:last-child {
    width: 290px;
}
.flogo {
    top: -7px;
}
}

@media (max-width:768px) {
.banner {
	height: 995px;
	background: url(../images/Banner_768x1024.jpg) top center no-repeat;
}
.car .buttons a:last-child {
    width: 210px;
}
.top-row .col-md-8 {
	padding-left: 40px;
}
.car img {
    margin-top: -60px;
    width: 100%;
}
.icons {
    width: 400px;
}
.map .col-md-2 {
    padding: 30px 15px;
    top: 55px;
    margin-left: 25px;
    max-width: 40%;
}
.tth .text ul {
    width: auto;
}
}

@media (max-width:736px) {
.banner {
	height: 284px;
	background: url(../images/Banner_375x281.jpg) top center no-repeat;
	background-size: cover;
}
.banner .banner-button {
	display: none;
}
.banner .banner-button .ArrowBanner {
	display: none;
}
.car .buttons a:last-child {
    width: 100%;
	position: unset;
}
.top-row .col-md-8 {
    padding-left: 20px;
}
.car {
    padding-bottom: 40px;
}
.car img {
    margin-top: -30px;
    width: 100%;
}
.icons {
    width: 100%;
}
.map .col-md-2 {
    padding: 30px 15px;
    margin-left: 0;
    max-width: none;
    width: 100%;
    position: unset;
}
a.bluebutton {
	margin-bottom: 15px;
}
.fork .col-md-4:nth-child(2), .fork .col-md-4:nth-child(4) {
	display: none;
}
.flogo {
	display: none;
}

}


@media (max-width: 736px) and (max-height: 414px) {
	.banner {
		height: 617px;
		background: url(../images/Banner_375x281.jpg) top center no-repeat;
		background-size: contain;
		background-position: bottom;
	}
}


@media (max-width: 414px) {
.banner {
	height: 281px;
	background: url(../images/Banner_375x281.jpg) top center no-repeat;
	background-size: contain;
	background-position: bottom;
}
.banner .banner-button a {
	font-size: 13px;
}
.car h3 {
	font-size: 20px;
}
@media (max-width: 414px) and (max-height: 736px) {
	.banner {
		    height: 473px;
	}
.specials h1 {
    font-size: 36px;
}
.specials h2 {
    font-size: 24px;
}
.fork .title {
    font-size: 24px;
	margin-bottom: 20px;
}
.fork .title span {
    font-size: 18px;
}
.fork a {
    margin-top: 0;
}
}
@media (max-width: 375px) and (max-height: 667px) {
	.banner {
		height: 280px;
		background: url(../images/Banner_375x281.jpg) top center no-repeat;
		background-size: cover;
	}
}
@media (max-width: 320px) {
.banner {
	height: 432px;
    background: url(../images/Banner_320x240.jpg) top center no-repeat;
    background-position: bottom;
}
.banner .banner-button a {
	font-size: 13px;
}
}

@media (max-height: 667px) and (max-width: 375px) {
.banner {
    background: url(/specials/assets/images/banners/09-2019/_375x281.jpg?4) top center no-repeat;
    height: 411px;
    background-size: contain;
    background-position: bottom;
}
}